@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}
#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  // box-shadow: var(--box-shadow);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  h4 {
    font-size: 12px;
    text-align: center;
  }
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.left-section {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 320px) {
  .container {
    width: 300px;
  }
}

.card-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
}

.card {
  padding: 16px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 2px 5px #cdcdcd;
  text-align: center;
  .button {
    width: 130px;
    font-size: 18px;
    color: white;
    border: none;
    padding: 8px 16px;
    background-color: #03a9f4;
    border-radius: 4px;
    margin-top: 16px;
  }
}
.place-holder {
  /* width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 27px; */
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  color: white;
  /* padding: 1.4rem 2rem 1.6rem; */
  background: rgba(57, 63, 84, 0.8);
}
.place-holder:focus {
  color: #fff;
}
.button {
  width: 130px;
  font-size: 18px;
  color: white;
  border: none;
  padding: 8px 16px;
  background-color: #03a9f4;
  border-radius: 4px;
  margin-top: 16px;
}
._search_bar {
  text-align: right;
  h4 {
    text-align: right;
    font-size: 12px;
    margin-bottom: 8px;
    color: #525252;
    font-weight: 400;
  }
  .place-holder {
    width: 200px;
    background-color: white;
    border: none;
    padding: 8px;
    color: black;
  }
}
